{{> head}}

{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Mustang</h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus obcaecati autem perferendis quis harum eum fugit nam, ullam porro totam ex consequatur eaque fugiat commodi quibusdam esse. Reprehenderit, dolor iste?
        </p>
    </div>

    <div class="col-4">
        <img src="/assets/img/RMustang.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer}}